* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Nanum Myeongjo', serif;
}
html {
  font-size: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2420;
  padding: 1rem 4rem;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}
.header-logo img {
  height: 2rem;
}

.header-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: solid 1px #fff;
  padding: 0.5rem;
  height: fit-content;
  color: #fff;
}

.header-btn ion-icon {
  color: #f26039;
}

.home {
  background-color: #2d2420;
  padding: 1rem 4rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.home-top {
}
.home-top p {
}
.home-top-img {
  height: 20rem;
  background: url('./img/house.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bottom {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.home-bottom-box {
  min-height: 10rem;
  width: 25%;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-bottom-box.satu {
  background-color: #9fd86a;
  font-weight: 600;
  font-size: 30px;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

.home-bottom-box.dua {
  background-color: #f0cac5;
}
.home-bottom-box.dua p:nth-child(1) ion-icon {
  font-size: 1.5rem;
}
.home-bottom-box.dua p:nth-child(2) {
  font-weight: 600;
  font-size: 20px;
}
.home-bottom-box.dua p:nth-child(3) {
}

.home-bottom-box.tiga {
  background-color: #eed7b3;
}
.home-bottom-box.tiga p:nth-child(1) ion-icon {
  font-size: 2rem;
}
.home-bottom-box.tiga p:nth-child(2) {
  font-weight: 600;
  font-size: 20px;
}
.home-bottom-box.tiga p:nth-child(3) {
}
.home-bottom-box.empat {
  background-color: #feca3e;
}
.home-bottom-box.empat p:nth-child(1) {
  font-weight: 600;
  font-size: 25px;
}
.about {
  background-color: #f0e5dc;
  padding: 4rem;
}
.about-container {
  display: flex;
  gap: 4rem;
}
.about-container-text {
  flex: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.about-container-text-1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9;
  position: relative;
  padding-top: 1rem;
}
.about-container-text-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 0.3rem;
  width: 3rem;
  background-color: #f26039;
}
.about-container-text-2 {
  font-size: 1.2rem;
}
.about-container-text-btn {
  padding: 0.5rem 1rem;
  border: solid 1px;

  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}
.about-container-text-btn ion-icon {
  font-size: 1.4rem;
}
.about-container-img {
  flex: 100%;
  position: relative;
}
.about-container-img-price {
  position: absolute;
  bottom: 3rem;
  left: -3rem;
  padding: 1rem;
  background: white;
  border: solid 2px #2d2420;
}
.about-container-img-price-top {
  font-size: 2.4rem;
  font-weight: 600;
  border-bottom: solid 1px #2d2420;
  padding-bottom: 1rem;
}
.about-container-img-price-bot {
  padding-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.about-container-img img {
  width: 100%;
}
.footer {
  padding: 4rem;
  background-color: #2d2420;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer-container-top {
  border-bottom: solid 1px white;
  padding-bottom: 2rem;
}
.footer-container-top-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-container-top-logo img {
  height: 2rem;
}
.footer-container-top-logo p {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.footer-container-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container-bot-item {
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
}

.footer-container-bot-item img {
  height: 2.4rem;
}
.footer-container-cr {
  position: relative;
}
.footer-container-cr hr {
  border: none;
  border-bottom: solid 1px white;
}
.footer-container-cr p {
  padding: 0 2rem;
  background-color: #2d2420;
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
